.dashboard {
  display: flex;
  gap: 16px;
  max-width: 100%;
  min-height: 100vh;
  background-color: #0279bf;
  padding: 8px;
}

.bucket {
  width: 240px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.cards {
  flex-grow: 1;
}

.card {
  display:flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  margin-top: 4px;
  border-radius: 4px;
  padding: 8px;
}
.card-content{
  text-align: left;
  flex-grow: 1;
}
.delete-card{
  color:#0279bf;
  border:none;
  padding:5px;
  background:none;
}
.delete-card:hover{
  color:red;
}

.bucket-header{
  display:flex;
  flex-direction: row;
}
.bucket-title{
  flex-grow: 1;
  margin: 5px 5px;
  font-size: 20px;
  text-align: left;
}
/* BUTTON OF BUCKET */
.bucket-edit-button{
  background: none;
  border:none;
  color:#bfbfbf;
}
.bucket-edit-button:hover{
  color: black;
}

/* MENU STYLE OF BUCKETS */
#bucket-button-change{
  color:#0279bf;
  padding:0;
  background:none;
  margin:0;
  min-width: 10px;
  transition-duration: 0.3s;
}

#bucket-button-change:hover{
  color:black;
}

#basic-menu{
  background-color:#00000039;
}
#basic-menu li,ul{
  background-color: #0279bf;
  color:white;
}

#basic-menu li:hover{
  background-color:#0065a0
}